.tableCard {
  margin-bottom: 8px;
}

.tableTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
  margin: 0 0 4px 0;
}

.tableDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #666666;
  margin: 0 0 28px 0;
}

.valuesContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.valueItemFirst {
  text-align: right;
  flex: 0 0 auto;
}

.valueItem {
  text-align: right;
  flex: 1 1 0;
}

.value {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 4px;
}

.label {
  font-size: 13px;
  color: #666666;
}

.divider {
  margin-top: 32px;
  margin-bottom: 32px;
  border-top: 1px solid #e0e0e0;
}

@media (max-width: 1160px) {
  .valuesContainer {
    display: flex !important;
  }

  .valueItemFirst,
  .valueItem {
    text-align: right !important;
  }
}
